.container {
  text-align: center;
  height: 100vh;
  background: black;
  padding: 30px 1rem;
  font-size: 15px;
  width: 100vw;
  /* max-width: 600px; */
  /* margin-top: 50px; */
}

.container .file-icon {
  width: 100px;
  height: 100px;
}

.homeLink {
  color: coral;
  font-size: 25px;
  font-weight: bold;
}

.homeLink > p {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 20px;
}

.downloadSection {
  border: dotted 0.5px white;
  width: 100vw;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  padding: 10px 0;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.downloadSection a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.downloadSection a:hover {
  color: white;
  text-decoration: underline;
}

.container img {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 10px;
}

.dropzone {
  border: dotted 0.5px white;
  border-radius: 8px;
  padding: 10px;
  width: 100vw;
  max-width: 600px;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.dropzone span {
  margin-top: 25px;
  font-size: 13px;
  color: gray;
  padding: 5px 10px;
  border-radius: 5px;
}

.uploadedView {
  width: 100vw;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  color: white;
  border: dotted 0.5px white;
  border-radius: 8px;
  padding: 10px 15px;
}

.uploadedView button {
  border: none;
  background: inherit;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 5px;
}

.uploadedView button {
  border: solid 1px white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.uploadedView button:hover {
  border: solid 1px coral;
}

.underline {
  text-decoration: underline;
  margin-right: 5px;
}

@media (max-width: 700px) {
  .uploadedView,
  .dropzone,
  .downloadSection {
    width: 95vw;
  }
}
