.Nav {
  height: 40px;
  background: black;
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.Nav img {
  width: 100px;
  height: 100px;
}

.Nav a {
  display: flex;
  align-items: center;
  gap: 10px;
}
